
// Floated images margins
$wp-small-margin: 5px;
$wp-big-margin: 20px;



/* Colours */
$light-brown		: #eae2d7;
$text-brown			: #6e5e46;
$text-light-brown	: #97866F;
$red				: #e61052;
$brown 				: #2f2312;
$black				: #2a1f0f;
$white				: #fff;
$border				: #f388a9;
$foot-brown			: #c9bba9;
$foot-dark-brown	: #bfb1a0;
$foot-dots-brown	: #77644B;

/* fonts */
$bebas			: 'bebas', Helvetica, Serif, Ariel;

